#sc_form{
	margin-left:10%;
	width:80%;
	min-height:100%;
	margin-top:50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	padding:50px;
	margin-bottom : -20%;
}

#btn_submit{
	margin-left : 42%;
	margin-top:50px;
	width:16%;
    background-color: #c6e0b4; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    
}

#btn_submit:hover{
	background-color: #88c542; /* Green */
}
.sc_answer{
	margin-top:25px;
	margin-bottom:25px;
	margin-left:25px;
}
.separator{
	border : 0.5px solid #acacac;
	width:100%;
}