#sc_result{
	margin-left:10%;
	width:80%;
	min-height:100%;
	margin-top:50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding:50px;
	margin-bottom : -20%;
}

.text_answer{
	
	background : #c6e0b4;	
	padding:10px;
	margin:0;
}
.text_answer:nth-child(2n){
	background : #ffffff;	
}

.answer_selector{
	
	background : #ffffff;	
	padding:10px;
	margin:0;
}
.answer_selector:nth-child(2n){
	background : #c6e0b4;
}

.question_title{
	font-size : 16pt;
	font-weight : bolder;
}